@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nixie+One&display=swap');

#menu-area {
    margin-top: 1rem;
}

#menu-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

#menu-area a {
    display: grid;
    align-items: center;
    font-family: 'Nanum Gothic';
    font-size: 1rem;
    text-decoration: none;
    color: black;
    padding: .7rem 1rem;
    border-radius: 15px;
}

#menu-area a:hover {
    background: tomato;
    color: #fff;
}

#menu-area button {
    font-family: 'Nanum Gothic';
    font-size: 1rem;
    background-color: transparent;
    padding: .7rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

#menu-area button:hover {
    background: tomato;
    color: #fff;
}

.menu-area {
    margin-top: 1rem;
}

.menu-area ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu-area a {
    display: grid;
    align-items: center;
    font-family: 'Nanum Gothic';
    font-size: 1rem;
    text-decoration: none;
    color: black;
    padding: .7rem 1rem;
    border-radius: 15px;
}

.menu-area a:hover {
    background: tomato;
    color: #fff;
}

.menu-area button:hover {
    background: tomato;
    color: #fff;
}

@media only screen and (min-width: 600px) {
    #menu-area {
        margin-right: 3rem;
    }

    .menu-area {
        margin-right: 3rem;
    }
}